 upstream backend {
	server backend:${BACKEND_PORT};
}

server {
	listen ${NGINX_PORT};
	server_name ${NGINX_SERVER};
	location /api/ {
		proxy_pass http://backend;
	}

	location / {
		root /var/www/client;
		try_files $uri $uri/ /index.html;
	}
}