SECRET_KEY=8jlpp@or@arbn!l!*0ny+@tgp@$)c%chzo^-ltr34povo@()dy
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=db-library
POSTGRES_HOST=db
POSTGRES_PORT=5466
BACKEND_PORT=8000
NGINX_SERVER=http://localhost
NGINX_PORT=80