SECRET_KEY='django-insecure-2ld^#(5glx*j5x09mg9!(qg(+6!@)mcddmq3$vg-5qaj3)$63v'
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=db-library
POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5466
BACKEND_PORT=8000
BACKEND_HOST=backend
BACKEND_SERVER=http://backend:8000
NGINX_SERVER=http://localhost
NGINX_PORT=80
ALLOWED_SERVER=http://localhost
REACT_APP_API_URL=http://localhost/api