.booklist-page {
  &__search {
    position: fixed;
    margin-top: 60px;
    padding: 10px 0px 10px 0px;
    z-index: 10;
    width:100%;
  }
  &__list {
    margin-top: 120px;
    position: absolute; 
  }
}
